<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyq.product.mapper.RoleMapper">

    <resultMap id="userFiledMappingMap" type="com.cyq.product.domain.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="enabled" column="enabled"/>
        <collection property="roles" column="id" select="com.cyq.product.mapper.RoleMapper.getRolesByUserId"></collection>
    </resultMap>

    <select id="findUserByUserName" parameterType="String" resultMap="userFiledMappingMap">
        select * from t_user where user_name = #{userName}
    </select>

</mapper>